---
import Accordeon from '../../components/Accordeon.jsx'
---
<section>
    <div class="grid grid-cols-1 lg:grid-cols-2">
        <Accordeon client:load title={'Privacy Policy'} text={'Exemple'}/>
        <Accordeon client:load title={'Terms of Service'} text={'Exemple'}/>
        <Accordeon client:load title={'Unsubscribe Newsletter'} text={'Exemple'}/>
    </div>
</section>