---
import Accordeon from '../../components/Accordeon.jsx'
---
<section>
    <div class="flex flex-col gap-2">
        <Accordeon client:load title={'Privacy Policy'} text={'Exemple'}/>
        <Accordeon client:load title={'Terms of Service'} text={'Exemple'}/>
        <Accordeon client:load title={'Unsubscribe Newsletter'} text={'Exemple'}/>
    </div>
</section>