:root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
}
@font-face {
  font-family: 'Space Grotesk';
  src: url('/font/SpaceGrotesk-SemiBold.woff2') format('woff2'),
      url('/font/SpaceGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/font/SpaceGrotesk-Light.woff2') format('woff2'),
      url('/font/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/font/SpaceGrotesk-Regular.woff2') format('woff2'),
      url('/font/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/font/SpaceGrotesk-Medium.woff2') format('woff2'),
      url('/font/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/font/SpaceGrotesk-Bold.woff2') format('woff2'),
      url('/font/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
    font-family: 'Space Grotesk';
    background-color: #111111;
    color: white;
}
code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
}

a {
  color: #562bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.welcome {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 10vh;
  height: 50%;
  font-size: xx-large;
  color: rgb(210, 198, 255);
}

.magic {
  display: inline-block;
  position: relative;
}
.magic-text {
  animation: background-pan 10s linear;
  font-weight: bold;

  background: linear-gradient(to right, #562bff, violet, pink, #562bff);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
.magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}
.title {
  color : white;
  cursor : pointer;
}



/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
