---
import CardPost from "../components/CardPost.astro";
import MainLayout from "../layouts/MainLayout.astro";
import MainPost from "../components/MainPost.astro";

const allPosts = await Astro.glob("./blog/*.mdx");
import CategoryCloud from "../components/CategoryCloud.astro";
import { formatBlogPosts } from "../js/utils";
const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
  limit: null,
});
const latestPost = formattedPosts[0];
---

<MainLayout title="POST">
  
  <section class="container">
    <div class="top-post">
      <div class="main-post">
        <MainPost post={latestPost} />
      </div>
      <div class="mini-post">
      </div>
    </div>
    <div class="page">
      <div class="post-container">
        {
          formattedPosts
            .slice(1)
            .map((post) => <CardPost key={post.url} post={post} />)
        }
      </div>
    </div>
  </section>
  <aside class="container-categories">
    <h2 class="categories">Blog Categories</h2>
    <CategoryCloud/>
  </aside>
</MainLayout>

<style>
  .page {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
  }
  .post-container {
    display: flex;
    flex-direction: row;
    max-width: 100rem;
    flex-wrap: wrap;
  }
  .last-update {
    display: flex;
    flex-direction: column;
    max-height: 20rem;
  }
  .container-categories{
    margin-left: 5rem;

  }
  @media screen and (max-width: 768px) {
    .page {
      flex-direction: column;
    }

    .last-update {
      margin: 2rem auto;
    }
  }

  @media screen and (max-width: 1024px) {
    .post-container {
      justify-content: space-between;
    }
  }
</style>
