---
import CardPost from "../components/CardPost.astro";
import MainLayout from "../layouts/MainLayout.astro";
const allPosts = await Astro.glob("./blog/*.mdx");
---
<MainLayout title = "Myblog">
  <section class="container" aria-label="New Blog Posts">
    <h1 class="h1">New Blog Posts</h1>
    <div class="post-container">
        {allPosts.slice(1).map((post) => (
            <CardPost key={post.url} post={post} />
          ))}
    </div>
  </section>
</MainLayout>
