---
import MainLayout from "../layouts/MainLayout.astro";
import CardPost from "../components/CardPost.astro";
import MainPost from "../components/MainPost.astro";
import CarousselAutoplay from "../components/CarousselAutoplay.astro";

const allPosts = await Astro.glob("./blog/*.mdx");
import CategoryCloud from "../components/CategoryCloud.astro";
import { formatBlogPosts } from "../js/utils";
const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
  limit: null,
});
const latestPost = formattedPosts[0];
---

<MainLayout title="npmBytes">
  <main>
    <section class="welcome-bytes">
      <div class="welcome">
        <div>
          Stay informed on the news of <span class="magic">
            <span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span>
            <span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span>
            <span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span>
            <span class="magic-text">Technology</span>
          </span>, <span class="magic">
            <span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span>
            <span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span>
            <span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span><span class="magic-text">web development</span></span
          > and <span class="magic"
            ><span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span>
            <span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span>
            <span class="magic-star">
              <svg viewBox="0 0 512 512">
                <path
                  d="M512 255.1c0 11.34-7.406 20.86-18.44 23.64l-171.3 42.78l-42.78 171.1C276.7 504.6 267.2 512 255.9 512s-20.84-7.406-23.62-18.44l-42.66-171.2L18.47 279.6C7.406 276.8 0 267.3 0 255.1c0-11.34 7.406-20.83 18.44-23.61l171.2-42.78l42.78-171.1C235.2 7.406 244.7 0 256 0s20.84 7.406 23.62 18.44l42.78 171.2l171.2 42.78C504.6 235.2 512 244.6 512 255.1z"
                ></path>
              </svg>
            </span><span class="magic-text">animation</span></span
          >.
        </div>
        <div>Discover new articles and shows every Monday, for free.</div>
      </div>
    </section>
    <section class="container">
      <div class="top-post">
        <div class="main-post">
          <MainPost post={latestPost} />
        </div>
      </div>
      <CarousselAutoplay />
      <div class="page">
        <div class="post-container">
          {
            formattedPosts
              .slice(1)
              .map((post) => <CardPost key={post.url} post={post} />)
          }
        </div>
      </div>
    </section>
    <!-- <aside class="container-categories">
      <h2 class="categories">Blog Categories</h2>
      <CategoryCloud/>
    </aside> -->

  </main>
</MainLayout>

<style>
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }

    to {
      background-position: -200% center;
    }
    animation-iteration-count: infinite;
  }

  @keyframes scale {
    from,
    to {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(180deg);
    }
  }

  svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }
  path {
    fill: violet;
  }

  .access {
    padding: 10px;
    margin-top: 5vh;
  }
  .page {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
  .post-container {
    display: flex;
    flex-direction: row;
    max-width: 100rem;
    flex-wrap: wrap;
  }
  .container-categories {
    margin-left: 5rem;
  }
  .welcome-bytes {
    min-height: 50vh;
    width: 100%;
    background: linear-gradient(90deg, #111111, #552bff, #111111);
    background-size: 500% 500%;
    animation: gradient 60s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
  }
  .welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4.5%;
    max-width: 200rem;
    font-size: 32px;
    color: rgb(210, 198, 255);
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /*Responsive */
  @media screen and (max-width: 768px) {
    .page {
      flex-direction: column;
    }

    .welcome {
      font-size: 24px;
    }
  }

  @media screen and (max-width: 1024px) {
    .post-container {
      justify-content: space-between;
    }
  }
</style>

<script>
  let index = 0,
    interval = 1000;

  const rand = (min, max) => Math.floor(Math.random() * (max - min + 1)) + min;

  const animate = (star) => {
    star.style.setProperty("--star-left", `${rand(-10, 100)}%`);
    star.style.setProperty("--star-top", `${rand(-40, 80)}%`);

    star.style.animation = "none";
    star.offsetHeight;
    star.style.animation = "";
  };

  for (const star of document.getElementsByClassName("magic-star")) {
    setTimeout(() => {
      animate(star);

      setInterval(() => animate(star), 3000);
    }, index++ * (interval / 3));
  }
</script>
