---
import MainLayout from "../layouts/MainLayout.astro";
import CardPost from "../components/CardPost.astro";

const allPosts = await Astro.glob("./blog/*.mdx");
import CategoryCloud from "../components/CategoryCloud.astro";
import { formatBlogPosts } from "../js/utils";
const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
  limit: null,  
});
---
<MainLayout title="posts">
    <section class="page">
      <div left-container>
        <CategoryCloud/>
      </div>
      <div class="container">
          <div class="post-container">
            <div class="posts">
              {
                formattedPosts
                  .map((post) => <CardPost key={post.url} post={post} />)
              }
            </div>            
          </div>
      </div>
    </section>
</MainLayout>

<style>
  .page {
    display : flex
  }
  .posts{
    display : flex;
    flex-direction : row;
    flex-wrap: wrap;
    max-width: 120vw;
    min-width: 10vw;
  }
</style>
