---
---

<div class="container">
  <div class="container-left">
    <img src="/images/useflow-logo.png" alt="" />
  </div>
  <div class="container-right">
    <h1>Subscribe</h1>
    <p>Discover new tools with us</p>
    <div class="container-form">
      <div class="content-form">
        <form action="">
          <input type="email" />
          <input type="submit" value="Subscribe!" />
        </form>
      </div>
    </div>
  </div>

  <style>
    .container {
      display: flex;
      flex-direction: row;
    }
    .container-left {
      max-width: 40%;
      height: auto;
    }
  </style>
</div>
