---
import CaroussselSlide from "../data/CarousselSlide"
---
<div class="slider">
    <div class="slide-track">
      {CaroussselSlide.map((item) => <div class="slide"><img src={item.path} height="100" width="auto" alt={item.description} /></div>)}
      {CaroussselSlide.map((item) => <div class="slide"><img src={item.path} height="100" width="auto" alt={item.description} /></div>)}
    </div>
  </div>
<style>
.slider {
	height: auto;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
	padding-top:2rem ;
	padding-bottom: 2rem;
}

.slider::before,
.slider::after {
	background: linear-gradient(to right,  #111111 0%,rgba(29, 29, 29, 0) 100%);
	content: "";
	position: absolute;
	width: 200px;
	z-index: 2;
}

.slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.slider::before {
	left: 0;
	top: 0;
}

.slide-track {
	animation: scroll 90s linear infinite;
	display: flex;
    width: calc(250px * 28); 

}

.slide {
	height: 100px;
	width: auto;
	margin-right: 40vh;
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 14))}
}
</style>