---
import { formatBlogPosts, slugify } from "../js/utils";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const postsPromise = lang === 'fr'
  ? Astro.glob("../pages/fr/blog/*.mdx")
  : Astro.glob("../pages/en/blog/*.mdx");

const allPosts = await postsPromise;
const formattedPosts = formatBlogPosts(allPosts).filter(post => {
  const categories = post.frontmatter.category.split(",");
  return !categories.includes("Announcment");
});

const allCategories = formattedPosts
  .map((cat) => cat.frontmatter.category.split(","))
  .flat();

const processedCats = allCategories.reduce((acc, category) => {
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1,
  };
}, {});
---

<ul class="flex list-none m-0 p-0 flex-wrap">
  {
    Object.entries(processedCats).map(([key]) => (
      <li class="p-2">
        <a class="text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2 bg-white/30  border border-gray-500" href={`/${lang}/category/${slugify(key)}/`}>
          {key}
        </a>
      </li>
    ))
  }
</ul>
