---
import { formatBlogPosts, slugify } from "../js/utils";


const allPosts = await Astro.glob("../pages/blog/*.mdx");
const formattedPosts = formatBlogPosts(allPosts).filter(post => {
  const categories = post.frontmatter.category.split(",");
  return !categories.includes("Announcment");
});

const allCategories = formattedPosts
  .map((cat) => cat.frontmatter.category.split(","))
  .flat();

const processedCats = allCategories.reduce((acc, category) => {
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1,
  };
}, {});
---

<ul class="categories">
  {
    Object.entries(processedCats).map(([key]) => (
      <li>
        <a class="badge" href={`/category/${slugify(key)}/`}>
          {key}
        </a>
      </li>
    ))
  }
</ul>

<style> 
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories li {
  margin-right: 10px;
  margin-bottom: 10px;
}



</style>
