---
import { formatBlogPosts, slugify } from "../js/utils";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const postsPromise = lang === 'fr'
  ? Astro.glob("../pages/fr/blog/*.mdx")
  : Astro.glob("../pages/en/blog/*.mdx");

const allPosts = await postsPromise;
const formattedPosts = formatBlogPosts(allPosts).filter(post => {
  const categories = post.frontmatter.category.split(",");
  return !categories.includes("Announcment");
});

const allCategories = formattedPosts
  .map((cat) => cat.frontmatter.category.split(","))
  .flat();

const processedCats = allCategories.reduce((acc, category) => {
  const value = acc[category] || 0;

  return {
    ...acc,
    [category]: value + 1,
  };
}, {});
---

<ul class="flex list-none m-0 p-0">
  {
    Object.entries(processedCats).map(([key]) => (
      <li px-2>
        <a class="text-base font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2 bg-gray-700 text-gray-400 border border-gray-500" href={`/${lang}/category/${slugify(key)}/`}>
          {key}
        </a>
      </li>
    ))
  }
</ul>

<style> 
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories li {
  margin-right: 10px;
  margin-bottom: 10px;
}
</style>
