---
import LikeButton from "./LikeButton.astro";
import Separation from "./Separation.astro";
---

<div class="container">
    <Separation/>
    <br>
    
    <div class="end-article">
        <p>You like this post ? Tell us </p>
        <LikeButton />
    </div>
</div>

<style>
    .container {
        padding-top : 3rem;
        max-width: 960px;
        margin : 0 auto; 
    }
    .like-button {
        display: flex;
        align-items: center;
       
        
    }
    .end-article {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .end-article p {
        margin: 0;
    }
</style>
