---
import SMedia from "../data/SMedia";
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="shadow m-4">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex flex-col text-center md:items-center md:justify-between gap-3"
  >
    <div>
      <ul
        class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-400 justify-center md:justify-normal sm:mt-0"
      >
        {
          SMedia.map((item) => (
            <li>
              <a
                href={item.url}
                class="mr-4 hover:underline md:mr-6"
                target="_blank"
              >
                <span class="flex-1 ml-3 whitespace-nowrap">{item.name}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div>
      <span class="text-sm sm:text-center text-gray-400"
        >&copy; <span id="copyright"></span>
        <a href="https://npmbytes.com/" class="hover:underline">npmBytes</a>. {t('footer.rights')}
      </span>
    </div>
  </div>
  <LanguagePicker />
</footer>



<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();


const dropdownButton = document.getElementById('dropdownButton');
const dropdownMenu = document.getElementById('dropdownMenu');

dropdownButton.addEventListener('click', function() {
  dropdownMenu.classList.toggle('hidden');
});



</script>
