<!-- ---
import CardPost from "./CardPost.astro";
import CategoryCloud from "./CategoryCloud.astro";
import Separation from "./Separation.astro";
import { formatBlogPosts } from "../js/utils";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const allPosts = await Astro.glob("../pages/en/blog/*.mdx");
const formattedPosts = formatBlogPosts(allPosts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
  limit: null,
});
const shuffledPosts = formattedPosts.sort(() => Math.random() - 0.5);
const randomPosts = shuffledPosts.slice(0, 3);
---

<div class= "px-4 py-10 md:px-20">
  <Separation/>
  <div class= "py-2 font-semibold text-xl md:text-2xl">
    Explore these recommended articles to dive deeper into your reading!
  </div>
  <div class="flex justify-center flex-col md:flex-row">
    <ul>
      <li class="flex flex-col md:flex-row md:gap-12">
        {randomPosts.map((post) => <CardPost key={post.url} post={post} />)}
      </li>
    </ul>
  </div>
  <div class="flex flex-row flex-wrap justify-center">
    <CategoryCloud />
  </div>
</div> -->
