---
// component import
import {formatDate } from "../js/utils";
import MainLayout from "./MainLayout.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { frontmatter } = Astro.props;
const { title, description, date, category, author, image, minutesRead } =
  frontmatter;
---

<MainLayout {title}>
  <div class="px-10 lg:px-20 prose max-w-none text-white prose-a:text-[#562bff] prose-headings:text-white prose-strong:text-gray-500">
    <slot /> 
    {t('content.layout-update')} : {formatDate(date)}
  </div>
      
    
</MainLayout>

<style>


  .post-content {
    display: flex;
    justify-content: center;
  }

  .content {
    width: 100%;
    max-width: 150vh;
    margin: 0 auto;
    word-wrap: break-word;
    overflow-x: auto;

  }


</style>
