---
export interface Props {
	title: string;
}
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/images/useflow-onglet.png"
		/>
		<script
			src="https://kit.fontawesome.com/d67384fb0f.js"
			crossorigin="anonymous"
		></script>
		<script defer src="../pages/script.js"></script>

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<NavBar />
		<button onclick="topFunction()" id="myBtn" title="Top"
			><i class="fa-solid fa-caret-up" style="color: #ffffff;"
			></i></button
		>
		<slot />
		<Footer />
	</body>
</html>

<style>
	.path {
		display: flex;
		flex-direction: row;
	}

	.useflow {
		font-weight: 600;
	}

	.onpage {
		display: flex;
		align-items: center;
	}
	#myBtn {
		display: none;
		position: fixed;
		bottom: 5rem;
		right: 2rem; 
		z-index: 99; 
		border: none; 
		outline: none; 
		background-color: #552bff; 
		color: white;
		cursor: pointer;
		padding: 10px;
		border-radius: 10px;
		font-size: 12px;
		transition: ease-in-out .2s;
	}

	#myBtn:hover {
		background-color: #341d9074; 
		transition: ease-in-out .2s;
	}
</style>
